<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/userlogin">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="#">Login</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="#">Voyages</a>
            </li>
        </ul>
  
        <button class="btn btn-outline-success my-2 my-sm-0" *ngIf='!isLogin' (click)='LogIn()'>LogIn</button>
        <button class="btn btn-outline-success my-2 my-sm-0" *ngIf='isLogin' (click)='LogOut()'>LogOut</button>
  
    </div>
  </nav>