<div *ngIf="formule">
    <h5 class="card-title">{{ formule.destination.region }}</h5>
    <p>Date de départ: {{formule.date_depart  | date:'yyyy/MM/dd'}}</p>
    <p>Date de départ: {{formule.date_retour  | date:'yyyy/MM/dd'}}</p>
    <p>Prix: {{formule.prix_ht | currency:'EUR'}} Euros/HT</p>
    <p>Nombre de places restantes: {{formule.nb_places}}</p>
    <p>{{formule.destination.description}}</p>
    <p><img src="assets/{{formule.destination.images[0]}}"></p>
    <button [routerLink]="['/reservervoyage/', formule.id]" class="btn btn-warning">Réservation</button>
</div>