<div>
    <div class="resarvation">
        <form (ngSubmit)="onSubmit()" [formGroup]="voyageurs">
            <div formArrayName="voyageur">
                <div *ngFor="let passager of voyageur.controls;let i = index">
                    <div [formGroupName]='i'>
                        <div>
                            <p>Voyageur {{i+1}}</p>
                            <div>
                                <input type="text" class="form-control" placeholder="First Name"
                                    formControlName="firstname" />
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Last Name"
                                    formControlName="lastname" />
                            </div>
                            <div>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail2"
                                    placeholder="email@example.com" formControlName="email">
                            </div>
                            <div>
                                <button class="btn btn-danger" type="button" 
                                    *ngIf="i>=1" (click)="removeVoyageur()">Supprimer
                                    voyageur</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-success" type="button" [disabled]='voyageur.invalid'
                        (click)="addVoyageur()">Rajouter un voyageur</button>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" [disabled]='voyageurs.invalid'>Réserver</button>
                </div>
            </div>
        </form>
    </div>
</div>